.parallax-container .parallax img {
    opacity: 100;
}

.navbar-fixed {
    position: absolute;
}

.maps img {
    width: 100%;
    max-width: 500px;
}

.logo-footer img {
    width: 100%;
    max-width: 80px;
    margin: auto;
}