<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Coffee Road</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/confirmation.css"/>
  <link rel="icon" type="image/png" href="assets/img/TCR-logo.jpg" />
    
</head>
<body>
	<header>
			<button id="burguerMenu"><img id="burguer" class="icon" src="assets/img/burguer.png" alt="burguer menu"></button>
			<img id="logo" src="assets/img/TCR-logo.jpg" alt="the coffee road icon">
			<h1>THE COFFEE ROAD</h1>

		<nav id="menuContent">
				<ul>
					<li class="menu"><a href="#">Nosotros</a></li>
					<li class="menu"><a href="#">Tienda</a></li>
					<li class="menu"><a href="#">Conoce el proceso del café</a></li>
					<li class="menu"><a href="#">¿Qué café va conmigo?</a></li>
					<li class="menu"><a href="#">Contáctanos</a></li>
				</ul>
		</nav>
		
		<div id="carShopContainer">
				<p class="circle">0</p>
				<button id="carShopButton"><img id="carShop" class="icon" src="assets/img/cart-of-ecommerce.png" alt="car shop"></button>
		</div>

		
		<div id="carShopList">
			<div>
				<button id="close">X</button>
			</div>
			<h3>MI CARRITO DE COMPRAS</h3>
			<p>Aún no tienes productos en tu carrito.</p>
			<button class="button" id="backShop">Volver a la tienda</button>
		</div>

	</header>
		
  <div id="checked">
		<img id="confirmationIcon" class="icon" src="assets/img/checked.png" alt="confirm check icon">
		<h2>¡Listo!</h2>  
	</div>

	<h3>Tu compra se realizó con éxito.</h3>
	<p class="information">Se envío toda la informacióna tu correo email@hotmail.com</p>

	<img  id="confirmImage" src="assets/img/china.png" alt="confirm image">
	<p class="information">Para cualquier consulta puedes escribirnos a: thecoffeeroad@hotmail.com</p>

	<button id="index" class="button">Volver al inicio</button>


	<footer>
		<p class="textFooter" id="footerTitle">Descubre la experiencia en:</p>
		<div id="infoFooter">
			<p class="textFooter">Av. Guillermo Prescott 365, San Isidro 15076</p>
			<img id="fb" src="assets/img/facebook-letter-logo.png" alt="facebook icon">
			<img id="insta" src="assets/img/instagram-logo-white.png" alt="instagram icon">
		</div>
		<p class="textFooter">(01) 6372028</p>
	</footer>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../controller/confirmation.js"></script>
	
</body>
</html>